---
title: Rabbit MQ for PCF Replicator
owner: Services
---

## <a id="overview"></a> Overview

RabbitMQ for PCF Replicator is a tool that allows you to install multiple RabbitMQ for Pivotal Cloud Foundry (PCF) tiles in a single Ops Manager environment. This lets you run multiple preprovisioned RabbitMQ clusters that are isolated from each other. 

For example, you may want to isolate the cluster serving Spring Cloud Services (SCS) from the cluster serving apps in the marketplace. Or you may want to give a certain team their own dedicated, preprovisioned cluster that you manage for them. For information on how to accomplish these scenarios, see [Common Use Cases](#usecases). 

## <a id="usecases"></a> Common Use Cases

### Using the RabbitMQ Replicator to Create Isolation

The image below illustrates how to isolate SCS on RabbitMQ for PCF from clusters dedicated to different teams. In the use case below, the unreplicated RabbitMQ instance is used as a backing service for SCS, while two replica instances are each dedicated to a specific team. 
![alt text](/images/flowchart.png)

These scenarios are explained in detail below.

### <a id="scs-isolation"></a> Running SCS on a Dedicated RabbitMQ Cluster

Replica RabbitMQ tiles cannot be used to provide a backing service for Spring Cloud Services (SCS) because SCS expects that the service is called `p-rabbitmq`. Therefore, if you want to isolate the RabbitMQ cluster that is used by SCS from other tenants, you can reserve the unreplicated RabbitMQ for PCF tile for SCS, as shown in the diagram below. You can then add replica RabbitMQ clusters for use by apps in the marketplace.

Pivotal recommends that you use the unreplicated RabbitMQ for PCF tile solely for SCS to avoid contention between apps using SCS, and apps using RabbitMQ for PCF in the marketplace.  

To reserve the unreplicated tile for SCS, turn off the **Broker Registrar** errand to prevent the broker from being exposed in the marketplace. For more information, see [Errands](http://docs.pivotal.io/rabbitmq-cf/install-config.html#errands). 

To offer RabbitMQ as a cloud messaging service in the marketplace, create one or several replicas, install them in Ops Manager, and either allow the broker registrar errand to run, or [register the service manually using CF](https://docs.pivotal.io/pivotalcf/services/managing-service-brokers.html#register-broker).  

### <a id="dedicated"></a> Providing a Preprovisioned Dedicated Cluster

To reserve a RabbitMQ cluster for use by a specific team, all you need to do is [disable the broker registrar errand in Ops Manager](http://docs.pivotal.io/rabbitmq-cf/install-config.html#errands). This prevents service registration in the marketplace. Once you deploy the tile, manually expose the service broker to your desired orgs and spaces. For instructions, see [Register a Broker](https://docs.pivotal.io/pivotalcf/services/managing-service-brokers.html#register-broker). 

### <a id="on-demand"></a> Using Replicas While Offering the On-Demand RabbitMQ Service

The On-Demand service is not offered in replica tiles, since the purpose of the replicator is to create additional pre-provisioned clusters. If you wish to offer on-demand service plans, use the unreplicated RabbitMQ for PCF tile as shown in the diagram above. 

### <a id="blue-green"></a> Blue-Green Upgrades (Advanced)

In order to do blue-green style updates to minimize downtime, you can stand up a new cluster, and migrate data and users over to the new cluster over a period of time. Speak with your Platform Architect about how to enable this workflow.


## <a id="generate"></a> Generating Replica Tiles

This topic describes how to install the replicator and generate replica tiles of RabbitMQ for PCF.

### <a id="prereqs"></a> Prerequisites

1. RabbitMQ for PCF version 1.8.x or 1.9.x
2. 2.5 GB of free disk space

### <a id="download"></a> Download and Run the Replicator

You can download the replicator from Pivotal Network. Binaries are available for Linux, Mac, and Windows operating systems. Follow these steps to download and run the replicator:

1. Download the RabbitMQ for PCF Replicator from [Pivotal Network](https://network.pivotal.io/).
1. Uncompress the downloaded archive.
1. Run the binary for your operating system.


### <a id="replica"></a> Generate Replica Tiles

The following is the syntax for generating a replica tile:

```mac
./rabbitmq-replicator-darwin\
--name YOUR_DESIRED_TILE_NAME\
--path PATH_TO_TILE\
--output DESIRED_FILE_NAME.pivotal
```

The following are the parameters expected in the above syntax: 

| **Parameter** | **Description**                                                                                                                                   |
|----------|---------------------------------------------------------------------------------------------------------------------------------------------------|
| `name`     | The desired unique identifier for the replica tile, which is used to generate manifests, deployment names, and marketplace name for the service. Only alphanumeric characters and `-` are accepted by the tool. |
| `path`     | The location of the original, unreplicated, RabbitMQ for PCF source tile that you downloaded                                                                                                         |
| `output`   | The desired file name and path for the replica tile                                                                                              |


## <a id="install"></a> Installing Replica Tiles

Once you have generated a replica tile, you can upload it to Ops Manager as you would any other tile. After you have uploaded it, follow the instructions for [Installing and Configuring RabbitMQ for PCF as a Pre-Provisioned Service](https://docs.pivotal.io/rabbitmq-cf/install-config-pp.html). Note that the On-Demand service is not offered on replica tiles.


## <a id="upgrading"></a> Upgrading Replica Tiles

You can upgrade replica tiles like regular tiles with one important difference. You must generate a replica of the newer version of the RabbitMQ for PCF tile, using the replicator, and give the new replica the same `name` as the existing replica.

For example, here is the workflow for an in-place upgrade. Suppose you used the replicator to generate a replica of v1 of the RabbitMQ for PCF tile with the `name` **trading-team**, and you installed it in Ops Manager. Here is your replicator command for the initial installation:

```mac
./rabbitmq-replicator-darwin\
--name trading-team\
--path /download/p-rabbitmq-v1.pivotal\
--output /output/p-rabbitmq-v1-trading-team.pivotal
```

Now you want to upgrade to v2. You download the new RabbitMQ for PCF v2, use the replicator command using the path to the RabbitMQ for PCF v2 tile, and supply the same `name`, **trading-team**. Here is your replicator command for v2.

```mac
./rabbitmq-replicator-darwin\
--name trading-team\
--path /download/p-rabbitmq-v2.pivotal\
--output /output/p-rabbitmq-v2-trading-team.pivotal
```

Once you have a replica v2 tile, upload the replica tile **p-rabbitmq-v2-trading-team.pivotal** to Ops Manager, which will then upgrade the v1 replica tile in place. You can then proceed with upgrading the cluster.

If you'd like to do a blue-green style upgrade, see [Blue-Green Upgrades](#blue-green).


## <a id="limitations"></a> Limitations

* The On-Demand service is not offered on replica tiles.

## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email the
[Pivotal Cloud Foundry Feedback](mailto:pivotal-cf-feedback@pivotal.io) list.

## <a id='license'></a>License

**List any license information here.**
